.container {
    font-family: Arial, Helvetica, sans-serif; 
}

#content {
    border: 0;  
    margin: 0px auto; 
    box-sizing: border-box; 
    table-layout: fixed; 
    border-collapse: collapse; 
    max-width: 600px; 
    width: 100%; 
}

a, a:visited {
    text-decoration: none; 
}

.header {
    font-size: 11px; 
    border-bottom: solid white 1rem; 
}

.header img {
    width: 18px; 
    height: 18px; 
}

.header-links {
    width: auto; 
    float: right; 
}

.header a:hover {
    text-decoration: underline; 
}

.header a, .header a:visited {
    color: #133156; 
    font-weight: bold; 
}

.navbar img {
    width: 200px; 
}

.navbar {
    font-size: 12px; 
}

.navbar-links {
    float: right; 
}

.navbar-links a, .navbar-links a:visited {
    color: #333; 
}

.navbar-links td {
    border-left: solid white 1.5rem; 
}

#pineville {
    font-size: 20px; 
    background-color: #000; 
    color: #FFF; 
    font-weight: 300; 
    text-align: center; 
    width: 100%;  
    padding: 0% 50%; 
}

.pics td {
    font-size: 0px;   
    display: block; 
    padding: 0%; 
}

.footer {
    background-color: rgb(102, 102, 102); 
    color: #FFF; 
    width: 600px; 
    display: block; 
    padding: 0%; 
    box-sizing: border-box; 
}

.social img, .social td {
    width: 40px; 
    height: 40px; 
}

.social {
    box-sizing: border-box; 
    display: table;
    width: 600px; 
    padding: 4% 27% 2% 27%; 
    border-bottom: solid white 1px; 
}

.warranty a {
    color: white; 
    font-size: 12px; 
}

.warranty {
    box-sizing: border-box; 
    display: table; 
    color: white; 
    width: 600px; 
    padding: 2% 25%; 
    border-bottom: solid white 1px; 
}

.disclaimer {
    font-size: 9px; 
    padding: 5%; 
    border: solid white 1px; 
    line-height: 0.8rem; 
}

.call img {
    width: 28px; 
    height: auto; 
    padding: 0%; 
}

.call a, .call a:visited {
    color: #FFF; 
}

.call {
    font-size: 11px; 
    line-height: 1rem; 
    display: table; 
    padding: 1% 5%; 
    border-bottom: solid white 1px; 
}

.logo img {
    width: 245px; 
    height: 60px; 
}

.logo {
    padding: 1% 25%; 
}

.trademark {
    font-size: 10px; 
    text-align: center; 
    line-height: 1rem; 
    padding: 1% 6%; 
}

.location a, .location a:visited {
    color: #1155CC; 
}

.location a:hover {
    text-decoration: underline; 
}

.location {
    font-size: 10px; 
    padding: 2% 18%; 
}

.terms a, .terms a:visited, .email a, .email a:visited {
    color: white; 
}

.terms a:hover, .email:hover {
    text-decoration: underline; 
}

.terms {
    font-size: 10px; 
    padding: 1% 40%; 
}

.email {
    font-size: 10px; 
    text-align: center;
    line-height: 1rem; 
    padding: 1% 26% 14% 26%;  
}