html{
	height: 100%;
	font-size: 1rem;
}
#content {
	text-align: center;
	padding-top: 25%;
	text-shadow: 0px 4px 3px rgba(0,0,0,0,0.4)
				 0px 8px 13px rgba(0,0,0,0, 0.1),
				 0px 18px 23px rgba(0,0,0,0,0.1);
}

body {
	background: url(https://images.unsplash.com/photo-1415369629372-26f2fe60c467?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1834&q=80);
	background-size: cover; 
	background-position: center;
	font-family: Lato;
	color: white;
 }

.brown {
	color: #333;
} 

h1 {
	font-weight: 700;
	font-size: 5em;
}

hr	{
	width: 400px;
	border-top: 1px solid #f8f8f8;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.form {
	text-align: center;
	margin-top: 10%;
	padding-bottom: 1%;
	/* border: solid white 2px; */
	max-width: 700px;
	/* min-width: 50%;  */
	background: rgba(0,0,0, 0.4); 
	text-shadow: 0px 4px 3px rgba(0,0,0,0,0.4)
	0px 8px 13px rgba(0,0,0,0, 0.1),
	0px 18px 23px rgba(0,0,0,0,0.1);
}
 
 
/* @media (max-width:1550px) {
	#fullname {
	  font-size: 0.8rem;
	}
  } */

  .container .form .text-center .mt-5 {
	  width: 700px; 
	  margin: auto
  }
